<%-include('../templates/headers')%>
    <main>
    <% if (errorMessage){%>
    <div class="user-message user-message--error">
        <%= errorMessage %>
    </div>  <%}%>
        <form class="product-form" action="/new-password" method="POST">
             <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
             <input type='hidden' name="userId" value="<%=userId%>">
             <input type='hidden' name="passwordToken" value="<%=passwordToken%>">
             <input type='hidden' name="_csrf" value="<%=csrfToken%>">
            <button class="btn" type="submit">Update Password</button>
           
      </form>
    </main>
    <%- include('../templates/footer')%>